.App {
    font-family: sans-serif;
}

.cell {
    color: #ed473a;
    text-align: left;
    cursor: pointer;
    font-size: 12px;
    padding: 0 4px;
    line-height: 1.8;
}

.cell:hover {
    background-color: #efefef;
}

.ant-picker-cell:hover .ant-picker-calendar-date {
    background-color: white;
}